<!DOCTYPE html>
<html>
<head>
  <!-- Default page title unless otherwise specified -->
  <!-- per: http://stackoverflow.com/a/16637619/5225057 -->
  <title><%= @title || "Dafuq? Website" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
